:root {
  --title-text-color: #212121;
  --main-font: Roboto, sans-serif;
  --main-fill-color: #afb1b8;
}

/* --- CONTAINER --- */

/* HEADER END */

/* --- SECTION --- */

/* --- HERO SECTION --- */

/* --- FEATURES --- */

/* --- WORK EXAMPLES --- */

/* ----- TEAM ----- */
/* ----- TEAM END ----- */

/* ----- CLIENTS ----- */
/* ----- CLIENTS END ----- */

/* --- FOOTER --- */
/* SUBMIT FORM */
/* ----- FOOTER END ----- */

/* --- GALLERY --- */
/* --- GALLERY END --- */

/* ----- MODAL ----- */
