.clients-sect {
  padding: 94px 0;
}

.client-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-item {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 170px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:not(:last-child) {
    margin-right: 30px;
  }

  &:hover,
  &:focus {
    border-color: $accent-color;
    transition: transform 500ms ease;
  }
}

.logo-svg {
  fill: $main-fill-color;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-item:hover .logo-svg,
.list-item:focus .logo-svg {
  fill: $accent-color;
}
