.features {
  padding-top: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
  }
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
  padding: 0;
}

.features-box {
  margin: 15px;
  width: 450px;

  @media screen and (min-width: 768px) {
    width: 354px;
  }

  @media screen and (min-width: 1200px) {
    width: 270px;
  }

  &::before {
    display: block;
    content: "";
    height: 120px;
    width: 100%;
    margin-bottom: 30px;
    background-color: $secondary-grey;
    border-radius: 4px;
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.features-title {
  color: $title-text-color;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;

  @media screen and (min-width: 768px) {
    text-align: start;
  }
}

.features-text {
  color: $primary-text-color;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin: 0;
}

// .antenna-icon:before {
//   background-image: url(../images/antenna.svg);
//   background-position: 100px 25px;
// }

// .clock-icon:before {
//   background-image: url(../images/clock.svg);
//   background-position: 100px 25px;
// }

// .diagram-icon:before {
//   background-image: url(../images/diagram.svg);
//   background-position: 100px 25px;
// }

// .astronaut-icon:before {
//   background-image: url(../images/astronaut.svg);
//   background-position: 100px 25px;
// }
