.header {
  border-bottom: 1px solid #ececec;
  flex: 0 0 auto;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.header-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
