.work-sect {
  display: none;

  @media screen and (min-width: 1200px) {
    display: block;
    padding: 94px 0;
  }
}

.work-examples {
  margin: 0;
  display: flex;
  align-items: center;
  margin: -15px;
  padding: 0;
}

.example-item {
  width: 370px;
  margin: 15px;
}

.work-sect .overlay-box {
  position: relative;
}

.work-sect .overlay-text {
  position: absolute;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $accent-color;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  color: $primary-white;
  padding: 27px 0;
}
