.modal-form {
  display: flex;
  flex-direction: column;
}
.form-text {
  margin-bottom: 30px;
  font-style: 400;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: $title-text-color;
  border-radius: 1px;
}

.form-input {
  height: 40px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 42px;
  transition: color 1000ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border-color: $accent-color;
    outline: none;
  }
}

.form-comment {
  width: 100%;
  height: 120px;
  resize: none;
  margin-bottom: 28px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;

  &:hover,
  &:focus {
    border-color: $accent-color;
    outline: none;
  }
}

.form-field {
  position: relative;
  margin-bottom: 28px;
}

.form-svg {
  position: absolute;
  display: block;
  width: 15px;
  height: 13px;
  fill: #212121;
  top: 53%;
  left: 15px;
  pointer-events: none;
}

.form-input:focus + .form-svg,
.form-input:hover + .form-svg {
  fill: $accent-color;
}

.input-label {
  left: 0;
  top: -23px;
  margin-bottom: 4px;
}

.user-comment {
  margin-bottom: 4px;
}

.checkbox-label {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 2;

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.71;
  }

  &::before {
    display: block;
    content: "";
    width: 16px;
    height: 16px;
    background-color: $primary-white;
    border: 1px solid #212121;
    border-radius: 4px;
    background-image: url(../images/check.svg);
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 7px;
  }
}

.checkbox:checked + .checkbox-label::before {
  background-color: $accent-color;
}

.policy-link {
  text-decoration: underline;
  color: $accent-color;
}
