.social-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}

.social-svg {
  width: 20px;
  height: 20px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-item:not(:last-child) {
  margin-right: 10px;
}

.social-svg {
  width: 20px;
  height: 20px;
  fill: $main-fill-color;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover .social-svg,
.social-link:focus .social-svg {
  fill: $primary-white;
}

.footer {
  .socials-list {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
  }

  .social-link {
    background-color: rgba(255, 255, 255, 0.1);
  }

  .social-link:hover {
    transition: transform 500ms ease;
    background-color: $accent-color;
  }

  .social-svg {
    fill: $primary-white;
  }
}
