.submit-form {
  display: flex;
}

.subscribe-form {
  position: relative;
  margin-right: 12px;
}
.subscribe-input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: $background-color;
  border-radius: 4px;
  padding: 15px 26px;
  color: $primary-white;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;

  &:focus {
    outline: none;
  }
}

.subscribe-svg {
  width: 24px;
  height: 24px;
  fill: $primary-white;
  margin-left: 10px;
}
