html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

main {
  flex: 1 0 auto;
}
